html {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
  background-color: #020855;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #6870F1;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 
{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #020855;
    text-shadow: 3px 3px 1px black;

}

p,
li {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}

img  {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}